<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>mj3tq_doodledelay</string>
			<key>factoryFunction</key>
			<string>mj3tq_doodledelayAUFactory</string>
			<key>manufacturer</key>
			<string>mu45</string>
			<key>name</key>
			<string>mu45: mj3tq_doodledelay</string>
			<key>subtype</key>
			<string>Lqfh</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>14E46</string>
	<key>CFBundleExecutable</key>
	<string>mj3tq_doodledelay</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.mj3tq_doodledelay</string>
	<key>CFBundleName</key>
	<string>mj3tq_doodledelay</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>PTul</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6E35b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0640</string>
	<key>DTXcodeBuild</key>
	<string>6E35b</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string></string>
</dict>
</plist>
